﻿
@{
    ViewBag.Title = "Home";
}

<h2>Home page</h2>

<div class="container">
    <div class="col-md-6">
        Работа с сотрудниками:<br />
        @Html.ActionLink("Просмотр всех сотрудников", "Index", "Employee")<br />
        @Html.ActionLink("Добавление нового сотрудника", "Create", "Employee")<br />
    </div>
    <div class="col-md-6">
        Работа с компаниями:<br />
        @Html.ActionLink("Просмотр списка компаний", "Index", "Organization")<br />
        @Html.ActionLink("Добавление новой компании", "Create", "Organization")<br />
    </div>
</div>
