﻿@model NLayerApp.WEB.Models.OrganizationViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create organization</h2>

<div>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Добавление компании</legend>
            <p>
                Название:<br />
                @Html.EditorFor(o => o.Name)
            </p>
            <p>
                ОПФ:<br />
                @Html.EditorFor(o => o.LegalForm)
            </p>
            <p>
                <input type="submit" value="Добавить" />
            </p>

        </fieldset>
    }
</div>
<br />@Html.ActionLink("На главную", "Index", "Home")<br />