﻿@model IEnumerable<NLayerApp.WEB.Models.OrganizationViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Список компаний</h2>
<br />
<table>
    <tr>
        <th>№</th>
        <th>Название</th>
        <th>Кол-во сотрудников</th>
        <th>ОПФ</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelIdem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LegalForm)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />@Html.ActionLink("На главную", "Index", "Home")<br />
