﻿@model NLayerApp.WEB.Models.EmployeeViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Редактирование сотрудника</legend>
            <p>
                Имя:<br />
                @Html.EditorFor(m => m.FirstName)
            </p>
            <p>
                Фамилия:<br />
                @Html.EditorFor(m => m.SecondName)
            </p>
            <p>
                Отчество:<br />
                @Html.EditorFor(m => m.MiddleName)
            </p>
            <p>
                Должность<br />
                @{
                    List<SelectListItem> list = new List<SelectListItem>();
                    list.Add(new SelectListItem() { Text = "Разработчик" });
                    list.Add(new SelectListItem() { Text = "Тестировщик" });
                    list.Add(new SelectListItem() { Text = "Бизнес-аналитик" });
                    list.Add(new SelectListItem() { Text = "Менеджер" });
                }
                @Html.DropDownListFor(m => m.Position, list)
            </p>
            <p>
                Id Компании:<br />
                @Html.EditorFor(m => m.OrganizationId)
            </p>
            <p>
                <input type="submit" value="Редактировать" />
            </p>

        </fieldset>
    }
</div>
<br />@Html.ActionLink("На главную", "Index", "Home")<br />